@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

body {
  font-family: "Bubblegum Sans", "Comic Sans MS", "Comic Sans", cursive;
  line-height: 1.1;
  font-size: 22px;
}

main {
  max-width: 1170px;
  margin: auto;
  padding: 16px;
}

header {
  background-color: #004D44;
  height: 140px;
  padding: 16px;
  margin-bottom: 16px;
}

#definitely-official-government-logos {
  display: flex;
  height: 100%;
  max-width: 1170px;
  margin: auto;
}

img {
  height: 100%;
}

h1 {
  font-size: 44px;
  margin-bottom: 32px;
}

p {
  margin-bottom: 32px;
}

.grey {
  color: lightgrey;
}

.grey a {
  color: grey;
}

.this-should-probably-be-highlighted-front-and-center {
  padding: 16px;
  border-radius: 16px;
  background-color: yellow;
  font-size: 2.4em;
  margin-bottom: 48px;
  margin-top: 16px;
}

.but-not-as-much {
  background-color: transparent;
  text-decoration: line-through;
}

@media only screen and (max-width: 600px) {
  header {
    height: 80px;
  }

  .this-should-probably-be-highlighted-front-and-center {
    font-size: 1.4em;
  }
}